/* Common CSS */
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 75%;
    margin: auto;
}


/* Header CSS */
#header {
    margin: 50px 0 120px;
}

/* Hero Section */
#hero {
    padding: 200px 344px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    border-radius: 16px;
}

.header_subtitle {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

.header_title {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}


/* Main Starts */
#main {
    margin-bottom: 120px;
}

/* Discount Section */
#discount {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.discount_title {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 50px;
}

.discount_little_title {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.discount_subtitle {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
}

/* Party Section */
#party {
    padding: 126px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    border-radius: 16px;
    margin-bottom: 120px;
}

.party_title {
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.party_description {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 40px;
}

.party_button {
    color: #FFF;
    background-color: #FCB001;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
}

.party_button:hover {
    color: #070211;
    background-color: #fff;
}

/* Place Section */
#place {
    padding: 100px 386px 120px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    margin-bottom: 120px;
}

#place_title_container {
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin-bottom: 50px;
}

.place_title {
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.place_title span {
    color: #F00;
}

.place_button {
    color: #FFF;
    background-color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
}

.place_button:hover {
    background-color: black;
}

/* Celebration Section */
#celebration {
    margin-bottom: 120px;
}

#celebration_container {
    display: flex;
    justify-content: space-between;
}

.first_celebration_column {
    width: 30%;
    margin: auto;
}

.second_celebration_column {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second_celebration_column img {
    border: 15px solid #F00;
    border-radius: 50%;
    padding: 40px;
}

.third_celebration_column {
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.third_celebration_column_items img {
    margin-top: 43px;
}

.celebration_little_title {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.celebration_title {
    margin-top: 16px;
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.celebration_description {
    margin-top: 22px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.celebration_subtitle {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

/* Sale Section */
#sale {
    margin-bottom: 120px;
}

.sale_text_sec {
    width: 80%;
    margin: auto;
    margin-bottom: 65px;
}

.sale_subtitle {
    text-align: center;
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.sale_title {
    color: #070211;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    margin: 16px 0 28px;
}

.sale_title span {
    color: #F00;
}

.sale_description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.sale_img_sec {
    display: flex;
    flex-direction: column;
}

.upside {
    display: flex;
    align-items: center;
    justify-content: end;
}

.discount {
    margin-right: -150px;
    z-index: 2;
}

.girl {
    z-index: 1;
}

.downside {
    margin-top: -392px;
    display: flex;
    flex-direction: column-reverse;
}

.box {
    margin-bottom: -210px;
    margin-left: 25px;
    z-index: 4;
}

.box img {
    width: 50%;
}

.red {
    z-index: 3;
}

.red img {
    width: 100%;
}

/* Portfolio Section */
#portfolio {
    margin-bottom: 120px;
}

.portfolio_text_sec {
    margin-bottom: 50px;
}

.portfolio_image_sec {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.portfolio_image_first,
.portfolio_image_second {
    display: flex;
    justify-content: space-between;
}

.portfolio_image_sec img {
    width: 32%;
}

.portfolio_image_sec img:hover {
    width: 34%;
}

/* Newsletter Section */
#newsletter {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px 212px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.newsletter_image {
    margin-bottom: 20px;
}

#newsletter .celebration_description {
    text-align: center;
    margin-bottom: 50px;
}

#newsletter form {
    width: 65%;
    display: flex;
}

#newsletter form input[type='email'] {
    width: 65%;
    color: rgb(7, 2, 17);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 25px 30px;
    border-radius: 50px 0 0 50px;
    border: 0;
}

#newsletter form input[type='email']::placeholder {
    color: rgba(7, 2, 17, 0.30);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

#newsletter form input[type='submit'] {
    width: 35%;
    color: #FFF;
    background-color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    border-radius: 0 50px 50px 0;
    border: 0;
}

#newsletter form input[type='submit']:hover {
    background-color: gray;
}


/* Footer Starts */
#footer {
    padding: 120px 0;
    background: #070211;
}

/* First Section */
#footer_uptext {
    display: flex;
    justify-content: space-between;
}

#footer h3 {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

#footer a {
    text-decoration: none;
}

.footer_uptext_right div {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 16px;
}

.footer_uptext_right div img {
    margin: auto 0;
}

/* Middle Section */
#footer_middletext {
    margin: 50px 0;
}

#footer_middletext hr {
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.social_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 50px 0;
}

/* Last Section */
#footer_lasttext {
    display: flex;
    justify-content: space-between;
}